* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.pbip text eol=lf
*.pbir text eol=lf
*.pbism text eol=lf
*.bim text eol=lf
*.csv text eol=lf
*.pbix binary
*.xlsx binary
*.gif binary
*.mp4 binary
*.png binary
